{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "DISCORD_WEBHOOK_URL": "https://discord.com/api/webhooks/your-id/your-token"
  }
}
